.wrapper {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
    }
}

.img {
    width: 100%;

    @media screen and (min-width: 1360px) {
         width: 670px;
    }
}

.infoWrapper {
    background-color: #28A745;
    padding: 79px 20px;

    @media screen and (min-width: 768px) {
        padding: 62px 32px;
    }

     @media screen and (min-width: 1360px) {
        padding: 80 px 85px 28px 20px;
    }
}

.subtitle {
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;

    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 25px;
    }
}

.title {
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
            font-size: 40px;
            line-height: 48px;
            margin-right: 22px;
        }
}

.mainInfo {
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 25px;
        margin-right: 20px;
    }
}

.button {
    background: #28A745;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 22px;

    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 25px;
    }
}

.button:hover, .button:focus {
    background: #F4F4F4;
    border: 1px solid #28A745;
    color: #28A745;
}