.container {
    height: 533px;
    background-image: url(../../images/background/background.jpg);
    background-size: 320px 533px;
    background-repeat: no-repeat;
    background-position: center;
}