.header {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    height: 120px;
    width: 100%;
    position: fixed;
    z-index: 3;
    background: transparent;
    padding-top: 22px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 16px;    
        height: 70px;
        margin-right: 82px;
    }

    @media screen and (min-width: 1360px) {
        padding-top: 32px;
    }
}

.logo {
    
    @media screen and (min-width: 768px) {
        margin-left: 32px;
    }

    @media screen and (min-width: 1360px) {
        margin-left: 28px;
    }
}

.logo:hover,
.logo:focus {
    transition: all 750ms;
    transform: scale(1.06);
    filter: brightness(1.3);
}

.headerNav {
    display: flex;
    gap: 12px;

    @media screen and (min-width: 768px) {
        gap: 20px;
        margin-right: 32px;
    }

    @media screen and (min-width: 1360px) {
        gap: 40px;
        margin-right: 28px;
    }
}

.headerNavLink {
    position: relative;
    display: inline-block;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;

    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 25px;
    }
}

.headerNavLink::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #28A745;
    position: absolute;
    top: 30px;
}

.headerNavLink:hover::after,
.headerNavLink:focus::after {
    width: 170%;
    transform: translate(-21%);       
}
   