.footerWrapper {
    background-color: #333333;

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1360px) {
        width: 1360px;
    }
}

.list {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
        margin-bottom: 10px;
    }
}

.svg {
    fill: #FFFFFF;
}

.svg:hover,
.svg:focus {
    fill: #28a745;
}

.copyright {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 20px;

    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 25px;
    }
}