.wrapper {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row-reverse;
    }
}

.img {
    width: 100%;

    @media screen and (min-width: 1360px) {
        width: 670px;
    }
}

.textWrapper {
    background-color: #0284D0;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: 768px) {
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1360px) {
        padding-left: 28px;
        padding-right: 20px;
    }
}

.dateInfo {
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    padding-top: 48px;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 25px;
        padding-top: 59px;
    }

    @media screen and (min-width: 1360px) {
        padding-top: 80px;
    }
}

.title {
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        font-size: 40px;
        line-height: 54px;
    }

}

.textInfo {
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 24px;
    margin-right: 20px;

    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 25px;
    }

    @media screen and (min-width: 1360px) {

        margin-right: 30px;
    }
}

.button {
    padding: 16px 32px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background-color: transparent;
    margin-bottom: 58px;

    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 25px;
    }

    @media screen and (min-width: 1360px) {
        margin-bottom: 80px;
    }
}

.button:hover,
.button:focus {
    background: #F4F4F4;
    border: 1px solid #0284D0;
    color: #0284D0;
}